.__connections-filter {
  margin: 8px 4px;

  div[role="menuitem"] {
    &.selected {
      &.bitcoiner {
        background-color: var(--orange);
      }
    
      &.shitcoiner {
        background-color: var(--shitcoiner-color);
      }
    }
  }
}
