.__connections {

  header {
    position: sticky;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    gap: 12px;
    border-bottom: 1px solid var(--gray-80);
    top: 0;
    background-color: white;
    z-index: 2;

    svg.back {
      width: 32px;
      height: auto;
      padding-right: 4px;
    }

    .username-connection-type {
      flex: 1;
      overflow: hidden;

      .username {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--gray-50);
        font-size: 13px;
        margin-bottom: 4px;
      }
    }

    .connection-type {
      display: flex;
      font-size: 17px;
      font-weight: bold;
      font-family: inherit;
      text-align: left;
      border: none;
      padding: 0;
      background-color: transparent;
      gap: 8px;
      align-items: baseline;

      .user-count {
        font-weight: normal;
        color: var(--gray-30);
      }

      > svg {
        width: 12px;
        height: auto;
        fill: var(--gray-50);
      }
    }

    .filter {
      background-color: unset;
      border: none;
      color: var(--gray-30);
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      font-family: inherit;
      padding: 4px 2px;
    }
  }

  .initial-load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: anim__connections-spinner 0.3s forwards;
    opacity: 0;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  .connection-skeleton {
    display: flex;
    padding: 4px;
    gap: 8px;

    .profile-picture {
      width: 48px;
      height: 48px;
      background-color: var(--gray-80);
      border-radius: 100%;
    }

    .profile-info {
      padding-top: 4px;
      flex: 1;

      .username {
        width: 60%;
        height: 14px;
        border-radius: 8px;
        background-color: var(--gray-80);
        margin-bottom: 8px;
      }
  
      .handle {
        width: 45%;
        height: 14px;
        border-radius: 8px;
        background-color: var(--gray-80);
        margin-bottom: 8px;
      }
  
      .description {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background-color: var(--gray-80);
      }
    }
  }

  .no-connections-found {
    margin: 20px;
    padding: 64px 20px;
    border: 2px dashed var(--gray-80);
    color: var(--gray-40);
    text-align: center;
  }

  .users {
    margin: 20px 4px;
  }
  
  .user {
    display: flex;
    gap: 8px;
    padding: 8px 4px;
    margin: 4px 0;

    &:not(:first-of-type) {
      border-top: 1px solid var(--gray-80);
    }
    
    .user-details {
      flex: 1;
      overflow: hidden;

      .name-label {
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 4px;
      }

      .overflow-container {
        overflow: hidden;
      }

      .name {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .twitter-handle {
        color: var(--gray-30);
        font-size: 14px;
      }
    }

    .description {
      color: var(--gray-20);
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 8px;
    }

    .is-following-badge {
      display: inline-block;
      background-color: var(--gray-80);
      color: var(--gray-30);
      padding: 4px 6px;
      font-size: 12px;
      border-radius: 4px;
      font-weight: 600;
      margin-right: 4px;
    }
  }

  .infinite-loader {
    margin: 20px;
    text-align: center;
  }
}

.__connection-type-dropdown {
  margin-top: 8px;
}

@keyframes anim__connections-spinner {
  to {
    opacity: 1;
  }
}
