/* React's app.css */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

*[role=button] {
  cursor: pointer;
}
