.__centered-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: anim__centered-spinner 0.3s forwards;
  opacity: 0;

  svg {
    width: 48px;
    height: 48px;
  }
}


@keyframes anim__centered-spinner {
  to {
    opacity: 1;
  }
}
