.__user-type-badge {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 32px;
  padding: 2px 8px 2px 2px;
  gap: 4px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;

  .icon {
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 2px;

    > svg {
      width: 14px;
      height: 14px;
    }
  }

  &-md {
    font-size: 16px;
    padding-right: 16px;

    .icon {
      padding: 6px;

      > svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &.__user-type-badge-solid {
    .icon {
      background-color: white;
    }
  }

  &-bitcoiner {
    border-color: var(--orange);

    &.__user-type-badge-outline {
      color: var(--orange);
    }

    &.__user-type-badge-solid {
      background-color: var(--orange);
    }

    .icon > svg {
      fill: var(--orange);
    }
  }

  &-nocoiner {
    border-color: var(--gray-70);

    &.__user-type-badge-outline {
      color: var(--gray-70);
    }

    &.__user-type-badge-solid {
      background-color: var(--gray-70);
    }

    .icon > svg {
      fill: var(--gray-70);
    }
  }

  &-shitcoiner {
    .label {
      font-size: 0.9em; // shitcoiner is relatively reduced by 10% since the word is longer in English
    }

    border-color: var(--shitcoiner-color);

    &.__user-type-badge-outline {
      color: var(--shitcoiner-color);
    }

    &.__user-type-badge-solid {
      background-color: var(--shitcoiner-color);
    }

    .icon > svg {
      fill: var(--shitcoiner-color);
    }
  }
}
