.__user-info-panel {
  &-content {
    position: fixed;
    bottom: 0;
    transform: unset;
    top: unset;
    left: 0;
    right: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 0 20px 20px;
    background-color: white;
    outline: none;
    max-width: 480px;

    &[data-state='open'] {
      animation: 0.3s anim__user-info-content-in;
    }

    .rate-user-tooltip {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin: 12px auto;
      
      display: flex;
      right: 24px;
      top: -40px;
      position: absolute;
      padding: 6px 8px;
      color: var(--gray-90);
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      gap: 12px;
      align-items: center;
      justify-content: center;
      background-color: var(--gray-10);
      z-index: 10;
      animation: anim__user-info-rate-tooltip-in 0.3s 0.3s forwards;
      opacity: 0;

      &::after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        border-top-color: var(--gray-10);
        top: 100%;
      }
    }

    // .user-actions {
    //   display: flex;
    //   gap: 12px;
    //   justify-content: center;
    //   margin: 12px auto;
      
    //   .action {
    //     display: flex;
    //     right: 12px;
    //     padding: 6px 8px;
    //     color: var(--orange);
    //     border-radius: 32px;
    //     font-size: 14px;
    //     font-weight: 600;
    //     gap: 8px;
    //     align-items: center;
    //     justify-content: center;
    //     min-width: 120px;
    //     border: 1px solid var(--orange-btc);
  
    //     > svg {
    //       fill: var(--orange-btc);
    //       width: 18px;
    //       height: auto;
    //     }
    //   }
    // }

    .__user-type-badge {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  
    .profile-pic {
      margin: -60px 0 8px;
      width: 120px;
      height: 120px;
      border: 2px solid white;
      box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
      border-radius: 100%;
    }
  
    .username {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      word-break: break-all;
      color: var(--gray-20);
    }
  
    .handle {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: var(--blue-twitter);
      word-break: break-all;
      margin-bottom: 16px;
      display: inline-block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  
    .description {
      color: var(--gray-40);
      font-size: 15px;
      line-height: 24px;
    }

    .connections-tab {
      display: flex;
      border-bottom: 1px solid var(--gray-70);
      font-size: 17px;
      color: var(--gray-50);
      margin: 20px 0 12px;
      justify-content: space-around;
      gap: 4px;

      .tab {
        border-bottom: 4px solid transparent; // all tabs have a border to align the text correctly
        padding: 8px 4px;
        flex: 1;
        text-align: center;
        
        &.selected {
          border-color: var(--blue-twitter); // only the selected tab will have a border color
          color: var(--blue-twitter);
          font-weight: 600;
        }
      }
    }

    .__connections-chart-count {
      margin: 12px 0 24px;
    }

    .__connections-chart {
      margin-top: 24px;
    }
  
    .connection-totals {
      display: flex;
      justify-content: space-around;
      text-align: center;
      
      .count {
        color: var(--gray-20);
        font-size: 32px;
        font-weight: bold;
      }
  
      .label {
        color: var(--gray-30);
        font-size: 18px;
      }
    }

    .__button-connect {
      display: block;
      width: 100%;
      margin: 20px 0 0;
    }

    .viewing-own-profile {
      background-color: var(--gray-40);
      margin-top: 32px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

@keyframes anim__user-info-content-in {
  from {
    transform: translateY(50%);
    opacity: 0.5;
  }
}

@keyframes anim__user-info-rate-tooltip-in {
  from {
    transform: translateY(12px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
