.__campaign-overview {

  header {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--gray-80);
    top: 0;
    background-color: white;
    z-index: 2;
    padding: 0 4px;

    svg.back {
      width: 28px;
      height: auto;
      // padding-right: 4px;
      margin-left: 12px;
      margin-right: 4px;
    }

    .tab {
      color: var(--gray-60);
      flex: 1;
      padding: 28px 12px 20px;
      text-align: center;
      border-bottom: 4px solid transparent;
      margin: 0 8px;
      font-size: 18px;

      &.selected {
        border-color: var(--blue-twitter);
        color: var(--blue-twitter);
      }
    }
  }

  main {
    padding: 0 8px;
    max-width: 400px;
    margin: 20px auto;

    .cancel-info {
      p {
        margin-top: 8px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 4px;
        }
      }
    }

    button.cancel-campaign {
      background-color: transparent;
      color: var(--red);
      display: block;
      margin: 12px auto 32px;
      font-size: 16px;
      font-weight: normal;

      &:hover {
        text-decoration: underline;
      }
    }

    .followed-accounts {
      h3 {
        font-size: 16px;
        font-weight: 600;
        color: var(--gray-30);
        margin: 0 0 12px;
      }
    }
  }

  .cancel-requests {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    padding: 12px;
    animation: anim__campaign-overview-cancel-request 0.3s;
    
    button {
      display: block;
      width: 100%;
      text-transform: uppercase;
      background-color: var(--red);
    }
  }
}

@keyframes anim__campaign-overview-cancel-request {
  from {
    transform: translate(-50%, 100%);
  }
}