.__campaign-users {
  width: 100%;
  margin: 20px 0;
  table-layout: fixed;
  border-spacing: 0 8px;

  th {
    &.user-checkbox {
      width: 11%;
    }

    &.profile-picture {
      width: 60px;
    }

    &.followers {
      text-align: center;
      color: var(--gray-60);
      font-size: 13px;
      font-weight: 600;
      width: 22%;
    }
  }  
  
  td {
    &.user-info {
      overflow: hidden;
      
      > div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .username {
        font-weight: 600;
        line-height: 20px;
      }
      
      .handle {
        color: var(--gray-50);
        font-size: 14px;
      }
    }

    &.followers {
      color: var(--gray-30);
      font-weight: 600;
      font-size: 17px;
      text-align: center;
    }
  }
}