.__main-profile {

  .profile-pic {
    width: 120px;
    height: 120px;
    border: 2px solid white;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
    top: 80px;
    left: 50%;
  }
  
  header {
    background-color: var(--gray-50);
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 16px 8px;
    align-items: center;
    gap: 12px;
    transition: 0.3s background-color;
    height: 56px;
    z-index: 1;

    &.bitcoiner {
      background-color: var(--orange);
    }

    &.shitcoiner {
      background-color: var(--shitcoiner-color);
    }

    svg > path {
      fill: white;
    }

    .username {
      font-weight: 600;
      font-size: 15px;
      color: white;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: 0;
      user-select: none;
      transition: 0.5s;
      transform: translateY(-32px);

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }

    a.link-transactions {
      text-decoration: none;
    }

    .sats-badge {
      background-color: white;
      display: flex;
      border-radius: 32px;
      padding: 2px 2px 2px 8px;
      align-items: center;
      font-size: 14px;
      color: var(--orange);
      gap: 2px;
      font-weight: 600;
      font-variant-numeric: tabular-nums;

      svg > path {
        fill: var(--orange)
      }
    }

    .top-up {
      display: flex;
      background-color: white;
      display: flex;
      border-radius: 32px;
      padding: 6px 12px;
      gap: 2px;
      font-weight: 600;
      font-size: 14px;
      color: var(--orange);
      text-transform: uppercase;

      svg {
        width: 16px;
        height: auto;
        > path {
          fill: var(--orange);
        }
      }
    }

    .rate-user-tooltip {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin: 12px auto;
      
      display: flex;
      right: 6px;
      top: 34px;
      position: absolute;
      padding: 6px 8px;
      color: var(--gray-90);
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      gap: 12px;
      align-items: center;
      justify-content: center;
      background-color: var(--gray-10);
      z-index: 10;
      animation: anim__main-profile-rate-tooltip-in 0.3s 0.3s forwards;
      opacity: 0;

      &::after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        border-bottom-color: var(--gray-10);
        bottom: 100%;
      }

      &.invisible {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
      }
    }
  }

  main {
    .usertype-bg {
      background-color: var(--gray-50);
      height: 80px;
      margin-bottom: 80px;
      transition: 0.3s background-color;
      
      &.bitcoiner {
        background-color: var(--orange);
      }

      &.shitcoiner {
        background-color: var(--shitcoiner-color);
      }
    }
    
    .content {
      padding: 0 8px 80px;
      margin: 0 auto;
      max-width: 400px;

      .__button-connect {
        margin: 32px auto;
        min-width: 85%;
      }
    }

    .panels {
      display: flex;
      gap: 48px;
      flex-direction: column;
    }

    section.user-details {
      margin-bottom: 32px;

      .username {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        word-break: break-all;
      }

      .handle {
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        color: var(--gray-60);
        word-break: break-all;
        text-align: center;
        margin-bottom: 8px;
      }
 
      .badges {
        margin-bottom: 12px;
        text-align: center;
        padding: 0 8px;
      }

      .description {
        color: var(--gray-40);
        font-size: 15px;
        line-height: 24px;
        padding: 0 8px;
        text-align: left;
      }

      .badge {
        text-align: center;
        margin: 12px auto;
      }

      .not-bitcoiner-warning {
        text-align: center;
        margin: 20px 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        padding: 16px 12px;

        &.shitcoiner {
          border-color: var(--shitcoiner-color);
          color: var(--shitcoiner-color);
        }

        &.nocoiner {
          border-color: var(--gray-60);
          color: var(--gray-30);
        }

        span[role=button] {
          text-decoration: underline;
          color: var(--blue-twitter);
        }
      }

      .user-actions {
        display: flex;
        gap: 12px;
        justify-content: center;
        margin: 12px auto;
        
        .action {
          display: flex;
          right: 12px;
          padding: 6px 8px;
          color: var(--orange);
          border-radius: 32px;
          font-size: 14px;
          font-weight: 600;
          gap: 8px;
          align-items: center;
          justify-content: center;
          min-width: 120px;
          border: 1px solid var(--orange-btc);
    
          > svg {
            fill: var(--orange-btc);
            width: 18px;
            height: auto;
          }
        }
      }
    }

    .bitcoiners-you-follow {
      .data {
        align-items: baseline;
        display: flex;
        font-weight: 600;
        justify-content: space-between;
        
        .label {
          color: var(--gray-60);
          font-size: 18px;
          flex: 1;
          
          .bitcoiners {
            color: var(--orange);
          }

          .network {
            color: var(--gray-50);
          }
        }

        .value {
          color: var(--gray-40);
          font-size: 28px;
          line-height: 40px;
          text-align: right;

          &.pool {
            color: var(--orange);
          }  
        }
      }

      .network-info {
        margin: 20px 0;
        display: flex;
        gap: 12px;
        align-items: center;
        
        > svg {
          width: 48px;
          height: 48px;
        }

        .info {
          color: var(--gray-30);
          flex: 1;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;

          .bitcoin-twitter {
            font-weight: bold;
            color: var(--blue-twitter);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .mass-follow {
        margin: 20px auto 8px;
      }
    }

    .mass-follow {
      
      h3 {
        color: var(--gray-60);
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
      }

      .view-campaign {
        text-align: center;
      }

      .__button {
        display: inline-block;
        min-width: 70%;
        margin: 20px 0;
      }
    }
  }

  .viewing-own-profile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-purple);
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    line-height: 22px;

    a {
      color: var(--blue-twitter);
    }
  }

  .signup-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    padding: 12px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid var(--gray-85);
    
    button {
      display: block;
      width: 100%;
      text-transform: uppercase;
    }
  }
}

@keyframes anim__main-profile-rate-tooltip-in {
  from {
    transform: translateY(-8px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
