.__main-profile {

  .profile-pic {
    width: 120px;
    height: 120px;
    border: 2px solid white;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
    top: 80px;
    left: 50%;
  }
  
  header {
    background-color: var(--gray-50);
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 16px 8px;
    align-items: center;
    gap: 12px;
    transition: 0.3s background-color;
    height: 56px;
    z-index: 1;

    &.bitcoiner {
      background-color: var(--orange);
    }

    &.shitcoiner {
      background-color: var(--shitcoiner-color);
    }

    svg > path {
      fill: white;
    }

    .username {
      font-weight: 600;
      font-size: 15px;
      color: white;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: 0;
      user-select: none;
      transition: 0.5s;
      transform: translateY(-32px);

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  main {
    .usertype-bg {
      background-color: var(--gray-50);
      height: 80px;
      margin-bottom: 80px;
      transition: 0.3s background-color;
      
      &.bitcoiner {
        background-color: var(--orange);
      }

      &.shitcoiner {
        background-color: var(--shitcoiner-color);
      }
    }
    
    .content {
      padding: 0 8px 20px;
      margin: 0 auto;
      max-width: 400px;
    }

    .panels {
      display: flex;
      gap: 48px;
      flex-direction: column;
    }

    section.user-details {
      margin-bottom: 32px;

      .username {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        word-break: break-all;
      }

      .handle {
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        color: var(--gray-60);
        word-break: break-all;
        text-align: center;
        margin-bottom: 8px;
      }
 
      .badges {
        margin-bottom: 8px;
        text-align: center;
        padding: 0 8px;
      }

      .description {
        color: var(--gray-40);
        font-size: 15px;
        line-height: 24px;
        padding: 0 8px;
        text-align: left;
      }
    }

    .bitcoiners-you-follow {
      .data {
        align-items: baseline;
        display: flex;
        font-weight: 600;
        justify-content: space-between;
        
        .label {
          color: var(--gray-60);
          font-size: 18px;
          flex: 1;
          
          .bitcoiners {
            color: var(--orange);
          }

          .network {
            color: var(--gray-50);
          }
        }

        .value {
          color: var(--gray-40);
          font-size: 28px;
          line-height: 40px;
          text-align: right;

          &.pool {
            color: var(--orange);
          }  
        }
      }

      .network-info {
        margin: 20px 0;
        display: flex;
        gap: 12px;
        align-items: center;
        
        > svg {
          width: 48px;
          height: 48px;
        }

        .info {
          color: var(--gray-30);
          flex: 1;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;

          .bitcoin-twitter {
            font-weight: bold;
            color: var(--blue-twitter);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .mass-follow {
        margin: 20px auto 8px;
      }
    }
  }
}
