/* Any new color can be added to this file. */

body {
  --orange-dark  : #F7421A;
  --orange       : #F56B06;
  --orange-btc   : #F7931A;
  --red          : #F50727;
  --green        : #20BF55;
  --dark-green   : #315504;
  --dark-purple  : #2F2F39;
  --light-purple : #9696B4;
  --poop         : #9F4D00;
  --blue-twitter : #1c7ed9;
  --gray-10      : #3A3A3A;
  --gray-20      : #4D4D4D;
  --gray-30      : #5A5A5A;
  --gray-35      : #6F6F6F;
  --gray-40      : #797979;
  --gray-50      : #878787;
  --gray-60      : #9E9E9E;
  --gray-70      : #A7A7A7;
  --gray-80      : #D9D9D9;
  --gray-85      : #ECECEC;
  --gray-90      : #F3F3F3;

  --shitcoiner-color: var(--poop);
}
