.__button {
  background-color: var(--orange);
  border: none;
  border-radius: 64px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  position: relative;

  &-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    visibility: hidden;

    .__spinner {
      fill: white;
    }

    &-visible {
      visibility: visible;
    }
  }

  &-content {
    &-invisible {
      visibility: hidden;
    }
  }

  &-with-lightning {
    display: block;
    background: linear-gradient(315deg, var(--orange-dark) 18%, var(--orange) 70%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 0px 1px var(--orange);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    min-width: 70%;
    
    .__button-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      > svg {
        width: 24px;
        height: auto;
      }
    }

    &:disabled {
      opacity: 0.8;
    }
  }

  &-variant-clear {
    background-color: unset;
    color: var(--gray-50);
  }

  &-variant-outline {
    background-color: transparent;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
}