.__dialog-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  &[data-state='open'] {
    animation: 0.3s anim__dialog-overlay-in;
  }
}

@keyframes anim__dialog-overlay-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
}

.__modal {
  h2.title {
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray-80);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--gray-60);
    padding-bottom: 8px;
  }

  &-close-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: var(--gray-40);
    cursor: pointer;

    &:hover {
      color: var(--gray-20);
    }
  }
}

.__modal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  padding: 20px;
  border-radius: 24px;
  width: 95vmin;
  max-width: 380px;

  &[data-state='open'] {
    animation: 0.3s anim__dialog-center-modal-in;
  }
}

@keyframes anim__dialog-center-modal-in {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
