.__search-bar {
  border: 1px solid var(--gray-80);
  border-radius: 20px;
  background-color: white;
  padding: 8px 12px;
  display: flex;
  position: relative;
  display: flex;
  gap: 8px;
  
  // when active -->
  box-shadow: 0 0 4px 0px rgba(black, 0.1);

  input {
    all: unset;
    text-align: left;
    font-size: 14px;
    color: var(--gray-30);
    font-weight: normal;
    flex: 1;
    
    &::placeholder {
      color: var(--gray-60);
    }
  }

  &-icon {
    width: 20px;
    height: auto;
    fill: var(--gray-80);
  }

  &-close {
    color: var(--gray-50);
    font-size: 22px;
    line-height: 18px;
  }

  &.results-visible {
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
  }

  &-results {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid var(--gray-80);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: -1px;
    right: -1px;
    outline: 2px red;
    box-shadow: 0 0 4px 0px rgba(black, 0.1);
    padding: 12px;
  }
  
  &-contents {
    text-align: left;
    max-height: 50vh;
    overflow: auto;
  }

  &-empty {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: var(--gray-50);
    font-size: 15px;
    margin: 4px 0;
  }

  &-item {
    padding: 8px 6px;
    border-radius: 4px;

    &:hover {
      background-color: var(--gray-90);
    }
  }
  
  &-username {
    font-size: 14px;
    color: var(--gray-10);
    font-weight: normal;
  }

  &-handle {
    font-size: 12px;
    color: var(--gray-50);
    font-weight: normal;
  }
}
